.app {
  &__rewiew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    background: rgba(0,0,0,.6);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    &_hide {
      display: none;
    }

    &_sent {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .app__inputs {
        display: none;
      }
      .app__alert {
        display: block;
      }
    }

    &_mobile {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      
      .app__inputs {
        max-width: 100%;
        min-width: 100%;
      }

      .app__center {
        border-top: 1px dashed white;
      }
      .app__bottom {
        border-radius: 0px;
      }

      .app__handle {
        display: block;
        border: none;
        color: #CFD3DD;
        background-color: #CFD3DD;
        width: 24px;
        height: 3px;
        border-radius: 4px;
        position: absolute;
        margin-left: calc(50% - 12px);
        margin-bottom: 48px;
      }
      .app__nav {
        margin-left: 16px;
      }
      .app__line_first {
        display: none;
      }
      .app__columns {
        margin-left: 16px;
        margin-bottom: 0px;
        margin-right: 16px;
      }
      .app__buttons {
        margin-top: 15px;
        margin-right: 32px;
      }

      .app__column_first {
        margin-top: 0px;
      }
      .app__column_second {
        display: none;
      }
      .app__button_send {
        display: none;
      }
      .app__button_next {
        display: block;
      }

      .app__doer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 24px;
      }
      .app__ratings {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      .app__rate {
        margin-bottom: 14px;
      }

      .app__doer-avatar {
        width: 84px;
        height: 56px;
      }
      .app__doer-service {
        margin-top: 10px;
      }
    }

    &_next {
      .app__inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
      }

      .app__top {
        border-radius: 0px;
      }
      .app__center {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-top: 0px dashed white;
      }

      .app__line_first {
        display: block;
        margin-bottom: 14px;
      }
      
      .app__column_first, .app__button_next {
        display: none;
      }
      .app__column_second, .app__button_send {
        display: block;
      }

      .app__back {
        display: block;
        color: #9AA2B7;
        font-size: 23px;
        margin-right: 12px;
        cursor: pointer;
      }
      .app__comment {
        height: 166px;
      }
    }
  }

  &__inputs {
    max-width: 560px;
  }
  &__alert {
    display: none;
  }

  &__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 55px;
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
  }
  &__center {
    background: #FFFFFF;
    border-bottom: 1px dashed white;
  }
  &__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
    height: 68px;
  }

  &__handle {
    display: none;
  }
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 32px;
    margin-right: 16.4px;
    margin-bottom: 13px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__line {
    border: none;
    color: #EAECF0;
    background-color: #EAECF0;
    height: 1px;
    border-radius: 1px;
    &_second {
      min-width: 100%;
    }
  }
  &__columns {
    margin-left: 32px;
    margin-bottom: 15px;
    margin-right: 30px;
  }
  &__buttons {
    margin-top: 16px;
    margin-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  &__nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__column {
    max-width: 506px;
    &_first {
      margin-top: 24px;
      margin-bottom: 8px;
    }
  }
  &__button_next {
    display: none;
  }

  &__back {
    display: none;
  }
  &__h1 {
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #3C3C3C;
  }
  &__close {
    font-size: 23.4px;
    color: #7F899E;
    opacity: 0.8;
    cursor: pointer;
    margin-bottom: 2px;
  }
  &__doer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
  }
  &__ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  &__comment {
    margin-bottom: 16px;
    height: 120px;
  }

  &__rate {
    margin-right: 50px;
    margin-bottom: 18px;
  }

  &__doer-avatar {
    border-radius: 6px;
    margin-right: 20px;
    width: 102px;
    height: 68px;
  }
  &__doer-service {
    margin-top: 13px;
    margin-bottom: 3px;
  }
  &__p {
    font-family: 'Montserrat Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #50586A;
  }
  &__h2 {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #3C3C3C;
  }
  &__rate-title {
    margin-bottom: 6px;
  }
}