.image-loader {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-loader__box-image {
  overflow: hidden;
  border-radius: 6px;
  margin-right: 8px;
  &:hover .image-loader__delete-box {
    display: flex;
  }
}

.image-loader__elem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-width: 80px;
  height: 80px;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: #F3F4F6;
}

.image-loader__box {
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
}
.image-loader__button {
  border: 1px solid #EAECF0;
  box-sizing: border-box;
  cursor: pointer;
}
.image-loader__input {
  transform: scale(0);
  opacity: 0;
  position: absolute;
}

.image-loader__input {
  transform: scale(0);
  opacity: 0;
  position: absolute;
}

.image-loader__icon-button {
  color: #9AA2B7;
}

.image-loader__delete-box {
  position: absolute;
  justify-content: flex-end;
  width: 80px;
  height: 80px;
  display: none;
}
.image-loader__delete-background {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.image-loader__delete-button {
  line-height: 32px;
  margin-left: 4px;
  color: #FFF;
  opacity: 0.8;
}