mixin addImageLoader
  .image-loader
    label.image-loader__button
      p.image-loader__icon-button.material-icons-round.md-24= "add"
      input.image-loader__input(type="file", accept=".png, .jpg, .jpeg", v-on:change="updateImageDisplay", v-if="uploadReady")
    .image-loader__images(:class="filled")
      .image-loader__box-image(v-for="(item, index) in images", :key="item.urlImage", :data-value="index")
        .image-loader__delete-box
          .image-loader__delete-background(v-on:click="deleteImage(item)")
            p.image-loader__delete-button.material-icons-outlined.md-24= "delete_outline"
        img.image-loader__image(:src="item.urlImage")