@import '../library.blocks/fonts/fonts.scss';
@import '../project.blocks/app/app.scss';
@import '../project.blocks/button/button.scss';
@import '../project.blocks/rate/rate.scss';
@import '../project.blocks/comment/comment.scss';
@import '../project.blocks/image-loader/image-loader.scss';

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}