.rate {
  display: -webkit-flex; 
  display: flex;
  &__box {
    display: -webkit-flex; 
    display: flex;
  }
  &__title {
    color: #EAECF0;
    cursor: pointer;
    &_active {
      color: #53C6D1;
    }
  }
  p {
    width: 21px;
    font-size: 21px;
    margin-right: 12px;
  }
}