$color_no-active: #EAECF0;
$color_active: #53C6D1;

.rate {
  display: -webkit-flex; 
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &__box {
    display: -webkit-flex; 
    display: flex;
    &:hover {
      .rate__star .rate__title {
        color: $color_active;
      }
    }
  }
  &__star {
    &:hover {
      &~ .rate__star {
        .rate__title {
          color: $color_no-active;
        }
      }
    }
  }
  &__title {
    color: $color_no-active;
    cursor: pointer;
    font-size: 32px;
    margin-right: 2px;
    &_active {
      color: $color_active;
    }
  }
}