mixin addRate
  .rate
    .rate__box
      input(name="name", :value="currentRate", type="hidden")
      .rate__star(v-for="(item, index) in stars" :key="item.act")
        p.rate__title.material-icons.md-24(:class="item.act", :data-value="index+1", @click="addCheck")= "star_rate"