include ../button/button
include ../rate/rate
include ../comment/comment

-
  var rate_buttons_1 = [
    {value: "1", toggle: false},
    {value: "2", toggle: false},
    {value: "3", toggle: false},
    {value: "4", toggle: true},
    {value: "5", toggle: false}
  ]

-
  var rate_buttons_2 = [
    {value: "1", toggle: false},
    {value: "2", toggle: true},
    {value: "3", toggle: false},
    {value: "4", toggle: false},
    {value: "5", toggle: false}
  ]

.ui-kit
  .ui-kit__box
    .ui-kit__elements
      h1.ui-kit__title Ui-kit
      .ui-kit__element.ui-kit__columns
        .ui-kit__column
          h2.ui-kit__title BUTTON
          +addButton('Отправить', 'light-blue')
        .ui-kit__column
          h2.ui-kit__title BUTTON_ALERT
          +addButton('Спасибо, отзыв опубликован!', 'green', true)
      .ui-kit__element.ui-kit__columns
        .ui-kit__column
          h2.ui-kit__title IMAGE
        .ui-kit__column
          h2.ui-kit__title IMAGE_SQUARE
      .ui-kit__element
          h2.ui-kit__title RATE
          .ui-kit__columns
            .ui-kit__column
              +addRate('skorost', rate_buttons_1, 1)
            .ui-kit__column
              +addRate('kachestvo', rate_buttons_2, 2)
      .ui-kit__element
        h2.ui-kit__title COMMENT
        +addComment('comment')
      .ui-kit__element
        h2.ui-kit__title IMAGE-INSERTER
      .ui-kit__element
        h2.ui-kit__title REVIEW