include ../button/button

.ui-kit
  .ui-kit__box
    .ui-kit__element
      h2 BUTTON
      +addButton('Отправить', 'light-blue')
    .ui-kit__element
      .ui-kit__column
        h2 IMAGE
      .ui-kit__column
        h2 IMAGE_SMALL
    .ui-kit__element
      h2 RATE
    .ui-kit__element
      h2 COMMENT
    .ui-kit__element
      h2 IMAGE-INSERTER
    .ui-kit__element
      h2 ALERT