.comment {
  &__box {
    display: flex;
    flex-direction: column;
    max-width: 496px;
    min-height: 120px;
    .comment__text {
      background: #FAFAFA;
      box-sizing: border-box;
      border: 1px solid #EAECF0;
      border-radius: 6px;
      resize: none;
      flex-grow: 1;
      padding: 11px;
      height: 100%;

      font-family: 'Montserrat Regular';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: #7F899E;

      &:focus { outline: none }
    }
    .comment__characters {
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      font-family: 'Montserrat Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #7F899E;
    }
  }
}

// Десктоп. Разрешение < 511px
@media (max-width: 510px) {
  .comment__box {
    min-height: 166px;
  }
}